DISCORD_TOKEN=MTUxOTM4MDcxMTQzNjQ1MTk1MA.GIm3PN.FoRdtX4_3uN20o1uChIbEcTyAWmKLCLQ4p7oSg
DATABASE_URL=
BOT_OWNER_ID=1032544122600423427

# Custom emoji IDs for ranks (get these from Discord server settings)
EMOJI_RADIANT=
EMOJI_IMMORTAL=
EMOJI_ASCENDANT=
EMOJI_DIAMOND=
EMOJI_PLATINUM=
EMOJI_GOLD=
EMOJI_SILVER=
EMOJI_BRONZE=
